<body>


    <table border="1" width="100%">
        <tr>
            <td width="70%">
            </td>
            <td>
                titimangsa
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Ketua,
                </span>
            </td>
            <td>
                <span>
                    Sekretaris,
                </span>
            </td>
        </tr>
        <tr height="90px">
            <td>
                <span>
                    tte_ketua
                </span>
            </td>
            <td>
                <span>
                    tte_sekretaris
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    nama_ketua
                </span>
            </td>
            <td>
                <span>
                    nama_sekretaris
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    nip_ketua
                </span>
            </td>
            <td>
                <span>
                    nip_sekretaris
                </span>
            </td>
        </tr>
    </table>

    <table border="1" width="100%">
        <tr align="center">
            <td>
                titimangsa
            </td>
        </tr>
        <tr align="center">
            <td>
                <span>
                    Ketua,
                </span>
            </td>
        </tr>
        <tr align="center" height="90px">
            <td>
                <span>
                    tte_ketua
                </span>
            </td>
        </tr>
        <tr align="center">
            <td>
                <span>
                    nama_ketua
                </span>
            </td>
        </tr>
        <tr align="center">
            <td>
                <span>
                    nip_ketua
                </span>
            </td>
        </tr>
    </table>

</body>